@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #F6F6F6;
     box-sizing: border-box ;
}

strong{
    color: #22D4FD;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 30px  ;
 
}

.header_menu_link{
    font-family: "montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #03a7cc;
    text-decoration: none;
}
.titulo-blog{
    font-size: 2em;
    text-align: left;
    margin: 20px 0;
    strong{
        color: #03a7cc;
    }
}

h1{
    font-size: 1.5em;
    margin: 20px 0;
    color: #03a7cc;
    
}
h2{
    font-size: 1.2em;
    color: #ffffff;
}

.contenedor{
display: flex;
align-items: center;
padding: 1% 15%;
justify-content: space-between;

}


.contenedor_contenido{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.contenedor_contenido_titulo{
font-size: 36px;
font-family: "Krona One", sans-serif;


}

.presentacion_contenido_texto{
    font-size: 24px;
    font-family: "Krona One", sans-serif;
}

.contenedor_contenido_redes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    

}

.contenedor_link{
text-align: center;
width: 378px;
padding: 21.5px 0px;
border-radius: 30px;
font-family: "montserrat", sans-serif;
font-weight: 600;
font-size: 24px;
text-decoration: none;
color: #F6F6F6;
border-color: #03a7cc;
border: 2px solid #03a7cc;
border-radius: 8px;
display: flex ;
justify-content: center;
gap: 10px;
}

.contenedor_contenido_redes_subtitulo{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.contenedor_link:hover{
background-color: #272727
}

.footer{
background-color: #03a7cc;
padding: 15px;
color: #000000;
text-align: center;
font-family: "montserrat", sans-serif;
font-size: 20px;
font-weight: 400px;
}
